<div class="container">
  <legend>Inscription</legend>
  {{test}}
  <form name="signup_form" class="form-horizontal" role="form" ng-show="!statusIsSuccess()">
    <fieldset>
      <div class="row">
        <div class="col-lg-6 no-margin">
          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-pseudo">Votre identifiant</label>
              <input id="input-pseudo" name="pseudo" class="form-control col-lg-10" type="text" ng-model="user.pseudo" required>
              <div class="alert-danger alert-link" ng-show="signup_form.pseudo.$dirty && signup_form.pseudo.$invalid">
                <small ng-show="signup_form.pseudo.$error.required">Votre pseudo est requis</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 no-margin">
          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-passwd">Nom</label>
              <input id="input-passwd" class="form-control col-lg-10" type="text" ng-model="user.lastname" placeholder="Doe" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 no-margin">
          <div class="row form-group" ng-show="modeIsSignUp()">
            <div class="col-lg-12">
              <label for="input-passwd">Mot de passe</label>
              <input id="input-passwd" class="form-control col-lg-10" type="password" ng-model="user.password" required>
            </div>
          </div>
        </div>
        <div class="col-lg-6 no-margin">
          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-firstname">Pr&eacute;nom</label>
              <input type="text" class="form-control col-lg-10" id="input-firstname" ng-model="user.firstname" placeholder="John" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 no-margin">
          <div class="row form-group" ng-show="modeIsSignUp()">
            <div class="col-lg-12">
              <label for="nput-password-conf">Confirmez votre mot de passe</label>
              <input type="password" class="form-control col-lg-10" id="input-password-conf" ng-model="user.passwordConfirmation" required>
            </div>
          </div>
        </div>
        <div class="col-lg-6 no-margin">
          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-email">Email</label>
              <input type="text" class="form-control col-lg-10" id="input-email" ng-model="user.email" placeholder="john@doe.com" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 no-margin">
          <legend>Enfants</legend>
          <accordion close-others="true"> 
            <accordion-group ng-repeat="child in user.children track by $index" is-open="true">
              <accordion-heading>
                {{child.heading}}
                <button type="button" class="close" ng-click="removeChild($index)">x</button>
              </accordion-heading>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label>Nom</label>
                  <input type="text" class="form-control col-lg-11" ng-model="child.lastname">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-lg-12">
                  <label>Pr&eacute;nom</label>
                  <input type="text" class="form-control col-lg-11" ng-model="child.firstname">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-lg-12">
                  <label>Date de Naissance</label>
                  <div class="row">
                    <div class="col-lg-2">
                      <input type="number" min="1" max="31" ng-model="child.birthdate.day" placeholder="JJ" />
                    </div> 
                    <div class="col-lg-1">/</div> 
                    <div class="col-lg-2">
                      <input type="number" min="1" max="12" ng-model="child.birthdate.month" placeholder="MM"/>
                    </div>
                    <div class="col-lg-1">/</div> 
                    <div class="col-lg-2 ">
                      <input type="number" min="1990" max="{{maxYear}}" ng-model="child.birthdate.year" placeholder="YYYY" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-lg-12">
                  <label>Num&eacute;ro de S&eacute;curit&eacute; sociale</label>
                  <input type="text" class="form-control col-lg-11" ng-model="child.socialSecurityNbr"/>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label>Allergies</label>
                  <textarea class="form-control col-lg-11" rows=2 ng-model="child.allergys"/>
                </div>
              </div>
            </accordion-group>
          </accordion>
          <div class="row alert alert-danger" style="margin-top:15px;" ng-show="!allChildrenValid">
            <p><strong>Erreur !&nbsp;</strong></p>
            <p>{{lastChild.firstname}}, {{lastChild.lastname}}, {{lastChild.birthdate.day}}/{{lastChild.birthdate.month}}/{{lastChild.birthdate.year}}, {{lastChild.socialSecurityNbr}}</p>
            <p>Les informations sur votre enfant sont incompl&egrave;tes </p>
          </div>

          <div class="row">
            <a  style="margin:15px;" ng-click="addChild()">Ajouter un enfant</a>
          </div>
        </div> <!-- end of <div class="form-group col-lg-6 no-margin"> -->

        <div class="col-lg-6 no-margin">
        
          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-address1">Addresse</label>
              <input type="text" class="form-control col-lg-10" id="input-address1" ng-model="user.address1" placeholder="numéro rue, avenue, boulevard" required>
            </div>
          </div>
        
          <div class="row form-group" style="margin-top: 7px;">
            <div class="col-lg-12">
              <input type="text" class="form-control col-lg-10" id="input-address2" ng-model="user.address2" placeholder="batiment, étage">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-zipcode">Code postal</label>
              <input type="text" class="form-control col-lg-10" id="input-zipcode" ng-model="user.zipcode" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-city">Ville</label>
              <input type="text" class="form-control col-lg-10" id="input-city" ng-model="user.city" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">
              <label for="input-city">Téléphone</label>
              <input type="tel" class="form-control col-lg-10" id="input-city" ng-model="user.phone">
            </div>
          </div>

        </div> <!--end of <div class="form-group col-lg-6 no-margin">-->

        
      </div> <!-- end of div.row -->
    
    </fieldset>
    
    <div class="row">
      <div class="col-lg-12 no-margin">
        <button class="btn btn-lg btn-primary pull-right" ng-click="signup()">validez</button>
      </div>
    </div>
  </form>
  <div class="alert alert-success" ng-show="statusIsSuccess()">
    <p>Inscription r&eacute;ussie</p>
  </div>
  <div class="alert alert-danger" ng-show="statusIsFail()">
    <p>L'inscription a &eacute;chou&eacute; {{errorMessage}}</p>
  </div>
</div>